[Unit]
Description=a tuner to start clash-meta with specific config
After=network-online.target

[Service]
Type=exec
EnvironmentFile=/usr/lib/clash-tuner/env
Restart=on-abort
ExecStart=bash -c "/usr/bin/clash-meta -d $$conf"
